<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Novo Filme</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Adicionar Novo Filme</h1>

    <form method="POST">
        <label for="titulo">Título:</label><br>
        <input type="text" id="titulo" name="titulo" required><br><br>

        <label for="descricao">Descrição:</label><br>
        <textarea id="descricao" name="descricao" rows="5" required></textarea><br><br>

        <label for="temporada">Temporadas:</label><br>
        <input type="number" id="temporada" name="temporada" step="1" min="1" max="50" required><br><br>        
        
        <label for="ano">ano:</label><br>
        <input type="number" id="ano" name="ano" step="1" min="1898" max="2030" required><br><br>

        <label>Generos para adicionar:</label><br>
        <select name="generos" multiple>
            {% for genero in generos %}
                <option value="{{ genero.id }}">{{ genero.nome }}</option>
            {% endfor %}
        </select><br><br>

        <button type="submit">Salvar Filme</button>
    </form>

    <a href="{{ url_for('main.index') }}">← Voltar para a lista</a>
</body>
</html>